[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "@openzeppelin/=lib/openzeppelin-contracts/",
    "solady/=lib/solady/src/",
    "seismic-std-lib/=src/seismic-std-lib/"
]
# --via-ir currently doesn't support shielded types.
# Track progress in https://github.com/SeismicSystems/seismic-solidity/issues/195
via_ir = false
