[env]
# Set MISE_SFORGE_TASK to choose which sforge to use.
# One of "sforge" (default), "sforge-local", or "sforge-local-patch".
MISE_SFORGE_TASK = "sforge"
# sforge uses /usr/local/bin/ssolc by default, which foundryup installs from the seismic branch.
# Thus we need to point sforge to a different ssolc binary.
FOUNDRY_SOLC = "{{env.HOME}}/.local/share/mise/installs/ssolc/tmp-audit-fixes/ssolc"
# We need via-ir to compile the DepositContract since it runs into stack-too-deep otherwise.
FOUNDRY_PROFILE = "via-ir"

# TODO(samlaf): we skip artifacts::check in CI because it isn't deterministic.
# Need to figure out a way to make it.
[tasks.ci]
description = "Run full CI (fmt-check, check-artifacts, test)"
run = { tasks = ["fmt-check", "test"] }

[tasks.test]
description = "Run contract tests"
run = "mise run $MISE_SFORGE_TASK -- test"

[tasks.fmt]
description = "Format contracts"
run = "mise run $MISE_SFORGE_TASK -- fmt"

[tasks.fmt-check]
description = "Check contract formatting"
run = "mise run $MISE_SFORGE_TASK -- fmt --check"

[tasks."artifacts::sync"]
description = "Sync compiled artifacts"
run = "bash script/sync-artifacts.sh"

[tasks."artifacts::check"]
description = "Check artifacts are up to date"
depends = ["artifacts::sync"]
run = """
git diff --exit-code artifacts/ || \
  (echo "Artifacts are out of date. Run 'mise run sync-artifacts' and commit." && exit 1)
"""

########## sforge aliases (used by high-level tasks above, but can be used individually) ##########

[tasks.sforge]
description = "Run mise-installed sforge"
raw = true
run = "sforge {{arg(name='args', var=true)}}"

[tasks.sforge-local]
description = "Run locally-built sforge"
depends = ["sforge-build"]
# raw stdout makes parsing the sforge/ssolc colored output easier
raw = true
run = "../../seismic-foundry/target/debug/sforge {{arg(name='args', var=true)}}"

[tasks.sforge-local-patch]
description = "Run locally-built (with cargo patches) sforge"
depends = ["sforge-build-patch"]
raw = true
run = "../../seismic-foundry/target/debug/sforge {{arg(name='args', var=true)}}"

########## Helper tasks meant to stay hidden ##########

[tasks.sforge-build]
hide = true
description = "Build sforge from local seismic-foundry"
dir = "{{config_root}}/../../seismic-foundry"
run = "cargo build -p forge"

# Builds sforge from local repo, but also patches downstream dependencies.
# Useful for example when also making changes to seismic-compilers, to test everything together.
[tasks.sforge-build-patch]
hide = true
description = "Build sforge from local seismic-foundry with local patches"
# cargo-local-patches-on/off are in the monorepo's root's mise.toml
depends = ["cargo-local-patches-on", "sforge-build"]
depends_post = ["cargo-local-patches-off"]
