name: Typescript Client

on:
  push:
    branches: ["main"]
    paths: ["clients/ts/**"]
  pull_request:
    paths: ["clients/ts/**"]

defaults:
  run:
    working-directory: clients/ts

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v2
      - run: mise run lint::check

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v2
      - run: mise run typecheck

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v2
      - run: mise run build

  test-sanvil:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v2
      - run: mise run test::sanvil

  test-sreth:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: seismic
    steps:
      - uses: actions/checkout@v6
        with:
          path: seismic
      # We checkout the seismic-reth repo as a sibling repo. `mise run test::sreth` has this hardcoded requirement for now
      # as it starts reth by cd'ing into ../seismic-reth and running `cargo run ...`
      - uses: actions/checkout@v6
        with:
          repository: seismic-systems/seismic-reth
          path: seismic-reth
      - uses: jdx/mise-action@v2
        with:
          working_directory: seismic
      - run: mise run test::sreth
